<html>
  <head>
    <meta charset="utf-8">
    <title>Here are all the things I like!</title>
  </head>
  <body>
    <h1>The simple life involves</h1>

    <table>
      <tr>
        <td>Dogs</td>
        <td>Any terrier</td>
        <td>Any spaniel</td>
        <td>Any mutt</td>
        <td>Pretty much any dog</td>
      </tr>
      <tr>
        <td>Foods</td>
        <td>Pizza</td>
        <td>Pizza</td>
        <td>Pizza</td>
        <td>Possibly also pizza</td>
      </tr>
      <tr>
        <td>Films</td>
        <td>The Big Lebowski</td>
        <td>Florida Project</td>
        <td>Amelie</td>
        <td>Parasite</td>
      </tr>
      <tr>
        <td>Dreams</td>
        <td>End of the pandemic</td>
        <td>End of the pandemic</td>
        <td>End of the pandemicr</td>
        <td>Free pizza</td>
      </tr>
    </table>

  </body>
</html>
