<div class="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center">
      <h1 class="display-4">Insert Fun Mask Pun</h1>
      <p class="lead">This is a place to collect funny stories on the pandemic because the internet never forgets good humor.</p>
      <hr class="my-4">
      <a class="btn btn-lg btn-primary btn-theme" href="#" role="button">Learn more</a>
    </div>
  </div>
  <footer id="sticky-footer" class="py-4 text-white">
    <div class="container text-center">
      <small>&copy 2020 Kelly Miller</small>
    </div>
  </footer>
</div>
